<ion-modal-view class="legend-modal">
  <ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">Map Key</h1>
    <button class="button button-clear button-primary" ng-click="legendModal.hide()">Close</button>
  </ion-header-bar>
  <ion-content class="padding">
    <!-- <div class="list">
      <a class="item item-avatar" href="#">
        <img src="http://coraleigh.github.io/bike-raleigh/www/img/bike-rack.svg" class="icon">
        <h2>Bike Racks</h2>
      </a>
    </div> -->
    <h4>Markers</h4>
    <div class="row">
      <div class="col">
        <img src="http://coraleigh.github.io/bike-raleigh/www/img/bike-rack.svg" class="icon">
        <div class="legend-label">Bike Racks</div>
      </div>
      <div class="col">
        <img src="http://coraleigh.github.io/bike-raleigh/www/img/benefit-marker.svg" class="icon">
        <div class="legend-label">Bicycle Benefits Member</div>
      </div>
      <div class="col">
        <img src="http://coraleigh.github.io/bike-raleigh/www/img/shop-marker.svg" class="icon">
        <div class="legend-label">Bike Shops</div>
      </div>
      <div class="col">
        <img src="http://coraleigh.github.io/bike-raleigh/www/img/parking-marker.svg" class="icon">
        <div class="legend-label">Parking</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="http://coraleigh.github.io/bike-raleigh/www/img/trailhead-marker.svg" class="icon">
        <div class="legend-label">Greenway Access</div>
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>
    <h4>Routes</h4>
    <div class="row">
      <div class="col">
        <svg width="40" class="icon">
          <line x1="0" y1="0" x2="243" y2="0" style="stroke:rgb(29,146,206);stroke-width:12" />
        </svg>
        <div class="legend-label">Preferred Route</div>
      </div>
      <div class="col">
        <svg width="40" class="icon">
          <line x1="0" y1="0" x2="243" y2="0" style="stroke:rgb(229,145,82);stroke-width:12" />
        </svg>
        <div class="legend-label">Difficult Connection</div>
      </div>
    </div>
    <h4>Bike Facilities</h4>
    <div class="row">
      <div class="col">
        <svg width="40" class="icon">
          <line x1="0" y1="0" x2="243" y2="0" style="stroke:rgb(226,92,160);stroke-width:12" />
        </svg>
        <div class="legend-label">Bike Lanes</div>
      </div>
      <div class="col">
        <svg width="40" class="icon">
          <line x1="0" y1="0" x2="243" y2="0" style="stroke:rgb(138,117,178);stroke-width:12" />
        </svg>
        <div class="legend-label">Sharrows</div>
      </div>
    </div>
    <h4>Greenways</h4>
    <div class="row">
      <div class="col">
        <svg width="40" class="icon">
          <line x1="0" y1="0" x2="243" y2="0" style="stroke:rgb(139,194,73);stroke-width:12" />
        </svg>
        <div class="legend-label">Paved Greenway</div>
      </div>
      <div class="col">
        <svg width="40" class="icon">
          <line x1="0" y1="0" x2="243" y2="0" style="stroke:rgb(171,147,104);stroke-width:12" />
        </svg>
        <div class="legend-label">Unpaved Trail</div>
      </div>
      <div class="col">
        <svg width="40" class="icon">
          <line x1="0" y1="0" x2="243" y2="0" style="stroke:rgb(235,212,53);stroke-width:12" />
        </svg>
        <div class="legend-label">Sidepath</div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
