<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content scroll="false">
    <ion-list>
      <ion-item class="item-dark item-toggle" ng-click="toggleList('Bike Benefits')">
        <i class="icon ion-chevron-down" ng-class="{rotate: currentList === 'Bike Benefits'}"></i>&nbsp;
        Bike Benefits
        <img src="http://coraleigh.github.io/bike-raleigh/www/img/benefit-marker.svg" class="legend-icon" alt="Bike Benefits Marker">
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-click="$event.stopPropagation()" ng-model="benefitsPane.style.display" ng-true-value="''" ng-false-value="'none'">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <bike-benefits ng-show="currentList === 'Bike Benefits'"></bike-benefits>

      <ion-item class="item-dark item-toggle" ng-click="toggleList('Bike Shops')">
       <i class="icon ion-chevron-down" ng-class="{rotate: currentList === 'Bike Shops'}"></i>&nbsp;
       Bike Shops
       <img src="http://coraleigh.github.io/bike-raleigh/www/img/shop-marker.svg" class="legend-icon" alt="Bike Shops Marker">
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-click="$event.stopPropagation()" ng-model="shopsPane.style.display" ng-true-value="''" ng-false-value="'none'">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </ion-item>
      <bike-shops ng-show="currentList === 'Bike Shops'"></bike-shops>
      <ion-item class="item-dark item-toggle" ng-click="toggleList('Parking')">
        <i class="icon ion-chevron-down" ng-class="{rotate: currentList === 'Parking'}"></i>&nbsp;
        Parking
        <img src="http://coraleigh.github.io/bike-raleigh/www/img/parking-marker.svg" class="legend-icon" alt="Parking Marker">
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-click="$event.stopPropagation()" ng-model="parkingPane.style.display" ng-true-value="''" ng-false-value="'none'">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <parking ng-show="currentList === 'Parking'"></parking>
      <ion-item class="item-dark item-toggle" ng-click="toggleList('Greenway Access')">
        <i class="icon ion-chevron-down" ng-class="{rotate: currentList === 'Greenway Access'}"></i>&nbsp;
        Greenway Access
        <img style="height: 20px;top: 15px;" src="http://coraleigh.github.io/bike-raleigh/www/img/trailhead-marker.svg" class="legend-icon" alt="Trailhead Marker">
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-click="$event.stopPropagation()" ng-model="trailheadsPane.style.display" ng-true-value="''" ng-false-value="'none'">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <trailheads ng-show="currentList === 'Greenway Access'"></trailheads>
      <ion-item class="item-dark item-toggle">
        Bike Racks
        <img src="http://coraleigh.github.io/bike-raleigh/www/img/bike-rack.svg" class="legend-icon" alt="Bike Rack Marker">
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-click="$event.stopPropagation()" ng-model="bikeracksPane.style.display" ng-true-value="''" ng-false-value="'none'">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-dark item-toggle">
        <!-- <i class="icon ion-chevron-down" ng-class="{rotate: currentList === 'Bike Routes'}"></i>&nbsp; -->
        Bike Routes
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-click="$event.stopPropagation()" ng-model="routesPane.style.display" ng-true-value="''" ng-false-value="'none'">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <!-- <routes ng-show="currentList === 'Bike Routes'"></routes> -->
      <ion-item class="item-dark item-toggle">
        <!-- <i class="icon ion-chevron-down" ng-class="{rotate: currentList === 'Bike Facilities'}"></i>&nbsp; -->
        Bike Facilities
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-click="$event.stopPropagation()" ng-model="facilitiesPane.style.display" ng-true-value="''" ng-false-value="'none'">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <!-- <facilities ng-show="currentList === 'Bike Facilities'"></facilities> -->
      <ion-item class="item-dark item-toggle">
        <!-- <i class="icon ion-chevron-down" ng-class="{rotate: currentList === 'Greenways'}"></i>&nbsp; -->
        Greenways
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-click="$event.stopPropagation()" ng-model="greenwaysPane.style.display" ng-true-value="''" ng-false-value="'none'">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <!-- <greenways ng-show="currentList === 'Greenways'"></greenways> -->

   </ion-list>
   <button class="button button-block button-balanced ion-ios-information" ng-click="aboutModal.show()">
     About
   </button>
 </ion-content>
  </ion-side-menu>
</ion-side-menus>
