<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <button class="button button-clear button-positive">Edit</button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
       <ion-list>
         <div ng-repeat="group in groups">
           <ion-item class="item-dark item-toggle"
                     ng-click="toggleGroup(group);$event.stopPropagation();"
                     ng-class="{active: isGroupShown(group)}">
               <i class="icon" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
             &nbsp;
             {{group.name}}
             <label class="toggle toggle-balanced" ng-if="group.layer">
               <input type="checkbox" ng-click="$event.stopPropagation()" ng-model="group.layer.visible">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
           </ion-item>
           <div ng-show="sideLoaded">
             <bike-benefits class="list-items" ng-if="group.name === 'Bike Benefits'"></bike-benefits>
             <bike-shops class="list-items" ng-if="group.name === 'Bike Shops'"></bike-shops>
             <facilities class="list-items" ng-if="group.name === 'Facilities'"></facilities>
             <routes class="list-items" ng-if="group.name === 'Routes'"></routes>
          </div>
         </div>
       </ion-list>
{{group.name}}
     </ion-content>
  </ion-side-menu>
</ion-side-menus>
