/* Empty. Add your own CSS if you like */
html,body {
	background-color: black;
}
.bar-balanced {
	background-color: rgb(140, 197, 65) !important;
}
.toggle.toggle-balanced input:checked + .track {
    border-color: rgb(140, 197, 65) !important;
    background-color: rgb(140, 197, 65) !important;
}
.button-balanced {
	background-color: rgb(140, 197, 65) !important;
	margin-left: 10px;
	width: 92% !important;
}
#map {
	background-color: #F0F0F0;
}
.esri-view-width-xsmall .esri-popup .esri-docked-bottom-left, .esri-view-width-xsmall .esri-popup .esri-docked-bottom-center, .esri-view-width-xsmall .esri-popup .esri-docked-bottom-right {
		margin: 0 !important;
}

.esri-popup .esri-popup-main {
	width: 100%;
	background-color: rgba(255,255,255, 0.95);
}

.esri-popup .esri-popup-content {
	max-height: 400px !important;
}
.scroll-content {
	overflow-y: auto !important;
}

.selection-menu {
	max-height: 300px !important;
}

.legend-icon {
	position: absolute;
	top: 5px;
	height: 36px;
	padding-left: 5px;
}

html,
body,
#map {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
.esri-attribution {
	display: none;
}
/*temp fix to handle popup bug with ArcGIS for JavaScript API 4.0 beta 3*/
/*#mapContent.has-header {
	top: 0;
	background-color: black;
}*/


#locateDiv {
	position: absolute;
	top: 125px;
	left: 15px;
}

locate-button {
	position: absolute;
	top: 80px;
	right: 15px;
	z-index: 10;
}

locate-button .button {
	box-shadow: 0 2.5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 2.5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 2.5px rgba(0,0,0,0.4);
	-o-box-shadow: 0 2.5px rgba(0,0,0,0.4);
	width: 50px;
	height: 50px;
	border-radius: 30px;
	border-color: rgba(0,0,0,0.4);
}

.distance {
	font-size: 13px;
	font-weight: 400;
}

.esri-ui {
	z-index: 100000 !important;
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {

}

.item-toggle .toggle {

}
.item-toggle {
    pointer-events: auto;
}

.list-items.active {
	@include transition( all 800ms cubic-bezier(0.46, 0.03, 0.52, 0.96) );
	background-color: #fff;
	max-height: 500px;
	// height: 100%;
	// min-height: 100%;
	overflow: hidden;
	padding: 12px;

	&.ng-hide {
		// @include transform( scale(0,0) );
		max-height: 0;
		// height: 0;
		// min-height: 0;
	}
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

navigation-set {
	min-height: 400px;
}

.icon {
	display: inline-block;/* Firefox */
	-moz-transition: all 600ms cubic-bezier(0.345, 0, 0.25, 1);
	/* WebKit */
	-webkit-transition: all 600ms cubic-bezier(0.345, 0, 0.25, 1);
	/* Opera */
	-o-transition: all 600ms cubic-bezier(0.345, 0, 0.25, 1);
	/* Standard */
	transition: all 600ms cubic-bezier(0.345, 0, 0.25, 1);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.icon.rotate {

	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.selection-menu {
    transition: all 800ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    background-color: #fff;
    max-height: 500px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
}
.selection-menu.ng-hide {
  height: 0;
}

.popup-container .popup {
	max-width: 400px;
	width: 90%;
}
